.form-container {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  flex-direction: row;
  align-content: center;
  gap: 8px;
  padding: 24px;
}
.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  gap: 8px;

  max-width: 360px;
}
label {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
}

button {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
input[name="email"] {
  border-radius: 4px;
  border: 1px solid #2e2f42;
}
textarea {
  border-radius: 4px;
  border: 1px solid #2e2f42;
}
